* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #fafafa;

  display: flex;
}

.sidebar {
  width: 20%;
  background-color: #fff;
  margin: 0.25rem;
  border-radius: 10px;
  min-width: 180px;
  height: fit-content;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;
}

nav img {
  height: 45px;
  width: 120px;
  padding: 0.25rem;
}

nav .nav-btns {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.nav-btns div:hover {
  background-color: #fafafa;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}

.nav-btns div {
  display: flex;
  align-items: center;
}

nav span,
.bx {
  font-size: 1.1rem;
  padding: 0.5rem;
}

/* ------------------------------------------------ */
.main-cont {
  width: 50%;
  min-width: 300px;
  background-color: #fff;
  margin: 0.25rem;
  border-radius: 10px;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.stories {
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
  padding: 0.5rem;
  border-bottom: 1px solid lightgrey;

  scrollbar-width: none;
  -ms-overflow-style: none;

  position: sticky;
  top: 0;
  background-color: #fff;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 0.75rem;
}

.story img {
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  margin: 0.5rem;

  object-fit: center;
  border: 2px solid red;
  border-radius: 50%;
}
/* --------------------------------------------- */

.post {
  width: 75%;
  margin: 5px auto;
  /* border: 1px solid black; */
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.5rem 0; */
}

.post-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.post-user .verified {
  height: 20px;
  width: 20px;
}

.post-user img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #000;
}

.post-img img {
  width: 100%;
}

.post-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-icons i {
  font-size: 1.5rem;
}

.caption {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.caption span {
  font-weight: 600;
}

.caption i {
  color: lightgray;
}

.add-comment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.add-comment input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #fafafa;
}
/* --------------------------------------------- */
.Profile-footer {
  width: 30%;
  width: 250px;
  background-color: #fff;
  margin: 0.25rem;
  border-radius: 10px;
  height: fit-content;
  padding: 1rem;

  display: none;
  flex-direction: column;
}

.Profile-footer .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.profile .user-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.profile .user-data span {
  color: lightgrey;
}

.Profile-footer .profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #000;
}

.Profile-footer .footer-links span,
.copyright span {
  font-weight: 300;
  font-size: 0.75rem;
  color: lightgrey;
  cursor: pointer;
}

.suggest-text {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0;
}

.suggestions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 0.5rem 0;
}

.suggestions .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggestions .user-data {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.suggestions .user-data img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000;
}

.followbtn {
  color: blue;
  cursor: pointer;
}

.suggestions .user .user-info {
  display: flex;
  flex-direction: column;
}

.suggestions .user .user-info span {
  font-weight: 300;
  font-size: 0.65rem;
  color: lightgrey;
  cursor: pointer;
}

.copyright {
  text-transform: uppercase;
  padding-top: 0.5rem;
}

/* Media Queries */

@media screen and (min-width: 550px) {
  .Profile-footer {
    display: flex;
  }

  .main-cont {
    height: 100vh;
  }
}
